.accordion-body {
    background-color: white;
}

.accordion-header {
    background-color: white;
    color: black;
}

.accordion-button:not(.collapsed) {
    background-color: rgb(58, 125, 19);
    color: black;
}

.accordion-item {
    border-color: rgb(58, 125, 19);
}

.bigger {
    font-size: 19px;
}