.backgroundHome {
    background-image: url(../../assets/vegetales-varios-sobre-mesa-negra-espacio-mensaje.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: -48px;
    color: white;

}

.backgroundHome h1 {
    color: rgb(58, 125, 19);
    font-family: sans-serif;
    text-align: center;

}

.centerHome {
    padding-top: 13%;
    text-align: center;
}

.centerHome h1 {
    font-size: 100px;
}

.form {

    border-radius: 100px;
}

.logo {
    text-align: center;
    margin: auto;

}