.backgroundHome p {
    color: rgb(58, 125, 19);
    font-size: 70px;
    font-weight: 400;
}

.centerHome {
    padding-top: 60px;
    max-width: 300px;
}

.centerHome h5 {
    line-height: 40px;
    /* font-weight: 500px; */
}

img.img-fluid {
    max-width: 100%;
    height: auto;
    width: 450px;

}